body{
    margin:0%;
    background: linear-gradient(135deg, #ACB6E5,#54f6d8); 
    font-family: 'serif';
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
.main{
    background: linear-gradient(50deg, #0330f9,#1fedc7);
    padding : 50px;
    border-radius: 1%;
    border: 2px solid black; 
    width:85vh;   


}
h1{
    font-size:35px;
}
.welcome{
    color: black;
    height: 35px;
    font-family:sans-serif,'Times New Roman';
}
p{
    color: rgb(253, 252, 252);
    height: 40px; 
}
.btn{
    margin-top:25px;
    display:inline-block;
    padding:5px;
    background: rgb(252, 253, 253);
    border-color:rgb(12, 7, 1);

}

